body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 62.5%;
}

.topbar_container {
  background-color: #59516e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-color: white;
  color: #59516e;
  margin: 10px;
  height: 60px;
  width: 60px;
}

.logo_p {
  height: auto;
  margin: 0;
  padding-left: 5px;
  font-size: 0.8rem;
  font-weight: 600;
}

.logo_p:first-child {
  margin-top: 10px;
}

.search_container {
  position: relative;
}

input {
  width: 350px;
  height: 36px;
  border: none;
  border-radius: 18px;
  background-color: #9E95B1;
  color: white;
  text-indent: 60px;
  outline: none;
}

input::placeholder {
  font-size: 1rem;
  color: white;
}

.results_container {
  position: absolute;
  background-color: white;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
}

.location_option {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.location_option:last-child {
  border: none;
}

.location_option:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.past_locations_container {
  background-color: #9E95B1;
  height: 40px;
  width: 100%;
}

.options_container {
  background-color: #433d52;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

/* .options_container:hover {
  border-bottom: white solid 3px;
} */

.option {
  color: white;
  padding: 0 40px 3px 40px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
/*
.option:hover:after {
  background-color: green;
  width: 30px;
  height: 5px;
} */
