body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 62.5%;
}

.topbar_container {
  background-color: #59516e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-color: white;
  color: #59516e;
  margin: 10px;
  height: 60px;
  width: 60px;
}

.logo_p {
  height: auto;
  margin: 0;
  padding-left: 5px;
  font-size: 0.8rem;
  font-weight: 600;
}

.logo_p:first-child {
  margin-top: 10px;
}

.search_container {
  position: relative;
}

input {
  width: 350px;
  height: 36px;
  border: none;
  border-radius: 18px;
  background-color: #9E95B1;
  color: white;
  text-indent: 60px;
  outline: none;
}

input::placeholder {
  font-size: 1rem;
  color: white;
}

.results_container {
  position: absolute;
  background-color: white;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px lightgrey;
}

.location_option {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.location_option:last-child {
  border: none;
}

.location_option:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.past_locations_container {
  background-color: #9E95B1;
  height: 40px;
  width: 100%;
}

.options_container {
  background-color: #433d52;
  display: flex;
  align-items: center;
}

.option {
  color: white;
  padding: 0 40px 3px 40px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  position: relative;
}

.option:hover:after {
  content: "";
  background-color: white;
  width: 80%;
  height: 5px;
  position: absolute;
  top: calc(100% - 5px);
  left: 10%;
}

.today_container {
  border-radius: 10px;
  width: 60%;
  overflow: hidden;
  text-indent: 10px;
  box-shadow: 1px 1px 7px 1px #9E95B1;
}

.bottom_container {
  background-image: linear-gradient(#9E95B1, white);
  min-height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.today_header {
  background-image: linear-gradient(90deg, #59516e, #9E95B1, #59516e);
  height: 50px;
  color: white;
  font-size: 1.6rem;
  line-height: 50px;
}

.today_time {
  font-size: 1.2rem;
  font-weight: 300;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.today_details_container {
  background-image: linear-gradient(90deg, #9E95B1, #B3ADC2, #9E95B1 );
}

.today_details h2 {
  color: white;
  font-size: 8rem;
  margin: 0;
  font-weight: 400;
}

.today_details h3 {
  color: white;
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
}
