* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 62.5%;
}

.topbar_container {
  background-color: #59516e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  background-color: white;
  color: #59516e;
  margin: 10px;
  height: 60px;
  width: 60px;
}

.logo_p {
  height: auto;
  margin: 0;
  padding-left: 5px;
  font-size: 0.8rem;
  font-weight: 600;
}

.logo_p:first-child {
  margin-top: 10px;
}

.search_container {
  position: relative;
  display: flex;
  align-items: center;
}

input {
  width: 350px;
  height: 36px;
  border: none;
  border-radius: 18px;
  background-color: #9E95B1;
  color: white;
  text-indent: 60px;
  outline: none;
}

input::placeholder {
  font-size: 1rem;
  color: white;
}

.results_container {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 40px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px lightgrey;
  z-index: 1;
}

.location_option {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.location_option:last-child {
  border: none;
}

.location_option:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.c_or_f {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  padding-right: 5%;
}

.c_f_choice:hover {
  cursor: pointer;
}

.past_locations_container {
  background-color: #9E95B1;
  height: 40px;
  width: 100%;
  display: flex;
  color: white;
  font-size: 0.9rem;
  padding: 5px;
  overflow: scroll;
}

.past_locations_container::-webkit-scrollbar {
  display: none;
}

.threedots_button {
  background-color: transparent;
  border: none;
}

.threedots_icon {
  height: 22px;
  stroke: white;
}

.threedots_icon:hover {
  height: 25px;
  cursor: pointer;
}

.delete_button {
  border: none;
  background-color: white;
  padding: 8px 15px;
  color: blue;
  border-radius: 18px;
  display: none;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 10px;
}

.delete_button:hover {
  cursor: pointer;
}

.one_past_location{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-width: 300px;
  width: 20%;
  overflow: hidden;
  margin-right: 10px;
  border-right: 1px solid white;
}

.past_loc_left {
  display: flex;
  align-items: center;
}

.past_loc_left:hover {
  cursor: pointer;
}

.past_loc_iconTemp {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.past_loc_icon {
  height: 30px;
}

.options_container {
  background-color: #433d52;
  display: flex;
  align-items: center;
}

.option {
  color: white;
  padding: 0 40px 3px 40px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  position: relative;
}

.option:hover:after {
  content: "";
  background-color: white;
  width: 80%;
  height: 5px;
  position: absolute;
  top: calc(100% - 5px);
  left: 10%;
}

.today_container {
  border-radius: 10px;
  width: 60%;
  overflow: hidden;
  text-indent: 10px;
  box-shadow: 1px 1px 7px 1px #9E95B1;
}

.bottom_container {
  background-image: linear-gradient(#9E95B1, white);
  min-height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
}

.today_header {
  background-image: linear-gradient(90deg, #59516e, #9E95B1, #59516e);
  height: 50px;
  color: white;
  font-size: 1.6rem;
  line-height: 50px;
}

.today_header p {
  display: inline-block;
}

.today_time {
  font-size: 1.2rem;
  font-weight: 300;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.today_details_container {
  background-image: linear-gradient(90deg, #9E95B1, #B3ADC2, #9E95B1 );
}

.today_details h2 {
  color: white;
  font-size: 8rem;
  margin: 0;
  font-weight: 400;
}

.today_details h3 {
  color: white;
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
}

.seven_container, .hourly_container {
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  width: 60%;
  padding: 15px;
  box-shadow: 0 1px 9px 1px #9395b1;
}

.seven_top_container, .hourly_top {
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.seven_inner_top {
  border-bottom: 1px solid #59516e;
  padding-bottom: 20px;
}

.seven_date {
  font-size: 1rem;
  margin: 40px 0 5px 0;
}

.seven_container h2, .hourly_container h2 {
  color:#59516e;
  font-size: 1.8rem;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 400;
}

.seven_container h3, .hourly_container h3 {
  color: #59516e;
  font-size: 1rem;
  margin: 0;
  font-weight: 300;
}

h2 span {
  font-size: 1rem;
  font-weight: 300;
}

.seven_date {
  font-size: 1rem;
}

.seven_temp_icon {
  display: flex;
  align-items: center;
  height: 60px;
}

.seven_today_temp {
  font-size: 2.8rem;
}

.seven_today_desc {
  font-size: 1rem;
  margin-bottom: 30px;
}

.future_day, .future_hr {
  display: flex;
  align-items: center;
  border-top: 1px solid #59516e;
  min-height: 72px;
}

.future_one, .hour_one {
  font-size: 1rem;
  font-weight: 200;
  width: 10%;
  min-width: 75px;
}

.hour_one {
  width: 15%;
}

.hi_temp {
  font-size: 1.4rem;
}

.low_temp {
  font-size: 1rem;
  font-weight: 200;
}

.future_two, .hour_two {
  min-width: 10%;
  max-width: 15%;
  display: flex;
  align-items: center;
}

.future_three, .hour_three {
  width: 10%;
}
.future_icon, .hour_icon {
  height: 70px;
}

.future_desc, .hour_desc {
  font-size: 1rem;
  font-weight: 200;
}

.future_four, .hour_four {
  min-width: 35%;
}

.future_hr .hour_wind {
  min-width: 30%;

}

.future_wind, .hour_wind {
  font-size: 1rem;
  font-weight: 200;
}

.future_dir, .hour_wind {
  margin-right: 5px;
}
.future_dir, .future_speed, .hour_dir, .hour_speed {
  display: inline;
}

.hour_day {
  font-size: 1.4rem;
  font-weight: 600;
  border-top: 1px solid #59516e;
  margin-top: 20px;
  color: #59516e;
}

.time_det:first-child, .time_det:last-child {
  padding: 15px 0;
}

.hour_month {
  margin-left: 5px;
}

.leaflet-container {
  height: 100%;
  width: 100vw;
}

.past_loc_temp, .past_loc_cityState {
  white-space: nowrap;
}

.past_loc_cityState {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
}


/* Media Queries */

/* ******1050px breakpoint******* */

@media (max-width: 1050px) {
  .hour_icon {
    height: 50px;
  }

  .future_icon {
    height: 50px;
  }
}

/* ******800px breakpoint******* */

@media (max-width: 800px) {
  .seven_today_temp {
    font-size: 2.1rem;
  }

  .today_header {
    color: white;
    font-size: 1.2rem;
  }

  .today_time {
    font-size: 0.9rem;
    font-weight: 300;
  }

  .today_details h3 {
    font-size: 1.5rem;
  }

  .future_day {
    min-height: 60px;
  }

  .future_one, .hour_one {
    font-size: 0.8rem;
  }

  .hi_temp {
    font-size: 1rem;
  }

  .low_temp {
    font-size: 0.8rem;
  }

  .hour_day {
    font-size: 1rem;
  }

  .hour_icon, .future_icon {
    height: 38px;
  }

  .future_desc, .hour_desc {
    font-size: 0.8rem;
  }

  .future_wind, .hour_wind {
    font-size: 0.8rem;
  }

  .one_past_location {
    min-width: 260px;
  }

  .delete_button {
    padding: 8px 10px;
  }
}

/* ******600px breakpoint******* */

@media (max-width: 600px) {

  .one_past_location {
    min-width: 240px;
  }

  .today_container, .hourly_container, .seven_container {
    width: 80%;
  }

  input {
    width: 275px;
    text-indent: 30px;
  }

  .option {
    padding: 0 30px 3px 30px;
  }

  .seven_date {
    margin: 20px 0 5px 0;
  }
  .seven_today_desc {
    margin-bottom: 20px;
  }
}

/* ******475px breakpoint******* */

@media (max-width: 475px) {

  .one_past_location {
    min-width: 220px;
  }

  .delete_button {
    padding: 5px 7px;
    font-size: 0.8rem;
  }

  .past_loc_temp, .past_loc_cityState {
    font-size: 0.75rem;
  }

  .today_container, .hourly_container, .seven_container {
    width: 90%;
  }

  .today_header {
    min-height: 75px;
  }

  .today_header p {
    display: block;
    line-height: 2;
  }

  .future_four, .hour_four {
    margin-left: 10px;
  }

  .future_one, .hour_one {
    min-width: 65px;
  }

  .future_dir, .future_speed, .hour_dir, .hour_speed {
    display: block;
  }

  .option {
    padding: 0 20px 3px 20px;
  }

  input {
    width: 215px;
    text-indent: 30px;
  }

  .logo {
    height: 45px;
    width: 45px;
  }

  .logo_p {
    height: auto;
    margin-top: 0;
    padding-left: 2px;
    font-size: 0.65rem;
  }

  .logo_p:first-child {
    margin-top: 5px;
  }

  input::placeholder {
    font-size: 0.9rem;
  }

  .c_or_f {
    font-size: 0.9rem;
  }
}






